/* General Styles */
body {
    font-family: 'Calibri' ; 
    background: linear-gradient(135deg, #f9f9f9 30%, #00c6ff 100%);
    margin: 0;
    padding: 0;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header Styles */
h1 {
    color: #fff;
    text-align: center;
    margin: 20px 0;
    font-size: 36px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Dropdown Container */
#partition-dropdown-container {
    margin: 0 auto 30px auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

/* Dropdown Element */
#partition-dropdown select {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background-color: #00c6ff;
    color: #fff;
    transition: background-color 0.3s ease;
}

#partition-dropdown select:hover {
    background-color: #0077b6;
}

/* Partition Details Section */
#partition-details {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

h3 {
    color: #00c6ff;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

/* Buttons */
button {
    background-color: #00c6ff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0077b6;
}

/* Div Hover Effect */
div:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
