/* General Styles */
body {
    font-family: 'Calibri'; 
    background: linear-gradient(135deg, #302f2f 30%, #ff6600 100%);  /* Black and Orange Gradient */
    margin: 0;
    padding: 0;
    color: #121111;  /* White text for contrast */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header Styles */
h1 {
    font-family: 'Calibri'; 
    color: #ff6600;  /* Orange color for header */
    text-align: center;
    margin: 20px 0;
    font-size: 36px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);  /* Slight black shadow for emphasis */
}

/* Dropdown Container */
#partition-dropdown-container {
    margin: 0 auto 30px auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border: 2px solid #333;  /* Black border */
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

/* Dropdown Element */
#partition-dropdown select {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background-color: #ff6600;  /* Orange background */
    color: #1e1d1d;  /* White text */
    transition: background-color 0.3s ease;
}

#partition-dropdown select:hover {
    background-color: #cc5200;  /* Darker orange on hover */
}

/* Partition Details Section */
#partition-details {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 2px solid #333;  /* Black border */
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

h3 {
    color: #ff6600;  /* Orange color for sub-headings */
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #333;  /* Black color for text */
    margin: 10px 0;
}

/* Buttons (optional styling if needed) */
button {
    background-color: #ff6600;  /* Orange background */
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #cc5200;  /* Darker orange on hover */
}

.dash-loading > .dash-spinner {
    margin: 20px auto;
}